@model LibraryManagementSystem.Models.Book

@{
    ViewData["Title"] = "Edit";
}
<link href="~/css/edit_profilesheet.css" rel="stylesheet" />
<title>@ViewData["Title"]</title>
<div class="main">
    <div class="first">
        <div class="headline">
            <h1 class="h4">Edit Book Info</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Isbn" class="control-label"></label>
                <input asp-for="Isbn" class="form-control" />
                <span asp-validation-for="Isbn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishedDate" class="control-label"></label>
                <input asp-for="PublishedDate" class="form-control" />
                <span asp-validation-for="PublishedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CopiesAvailable" class="control-label"></label>
                <input asp-for="CopiesAvailable" class="form-control" />
                <span asp-validation-for="CopiesAvailable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
                    <br/>
				<a class="btn btn-danger mb-3" asp-action="Delete" asp-route-id="@Model?.BookId">Delete</a>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}