@{
    ViewData["Title"] = "Privacy Policy";
}

    <title>@ViewData["Title"]</title>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<div class="box">
        <h1>@ViewData["Title"]</h1>

        <h2>Privacy Policy</h2>

        <p>At Library Management System, we value your privacy and are committed to protecting your personal information. This privacy policy outlines the types of information we collect, how we use it, and the measures we take to ensure its security.</p>

        <p>Information We Collect</p>
        <ul>
            <li><strong>Personal Information:</strong> Name, Email Address, Address, Phone Number.</li>
            <li><strong>Transaction Information:</strong> Book Loans, Fines.</li>
            <li><strong>Usage Data:</strong> Log Data, Cookies.</li>
        </ul>

        <p>How We Use Your Information</p>
        <ul>
            <li><strong>Provide Services:</strong> Manage your account and transactions, Notify you about overdue books and fines, Respond to your inquiries and support requests.</li>
            <li><strong>Improve Our Services:</strong> Analyze usage data to improve our services and user experience, Conduct research and analysis to better understand user needs.</li>
            <li><strong>Legal Compliance:</strong> Comply with legal obligations and protect against fraud and misuse.</li>
        </ul>

        <p>Data Security</p>
        <ul>
            <li><strong>Encryption:</strong> Data transmitted between your browser and our servers is encrypted.</li>
            <li><strong>Access Controls:</strong> Only authorized personnel have access to your personal information.</li>
            <li><strong>Data Retention:</strong> We retain your information only as long as necessary to fulfill the purposes outlined in this policy.</li>
        </ul>

 </div>
